doctype html
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        link(href="/style.css", rel="stylesheet")

body.bg-gray-100.font-sans.leading-normal.tracking-normal
    div.container.w-full.mx-auto.pt-20(class="md:max-w-3xl")
        div.w-full.px-4.text-xl.text-gray-800.leading-normal(class="md:px-6" style="font-family:Georgia,serif;")
            div.font-sans
                block main

block scripts
